body {
  min-width: 320px;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  height: 88px;
  background-color: #FFC001;
  position: fixed;
  width: 100%;
  min-width: 320px;
  max-width: 750px;
}
header .items {
  width: 40px;
  height: 70px;
  margin: 9px 15px;
  background: url('../imgs/classify.png') no-repeat;
  background-size: 40px;
}
header .search {
  flex: 1;
  margin: 10px 3px;
  border-radius: 34px;
  background-color: #fff;
  line-height: 68px;
  font-size: 24px;
  box-sizing: border-box;
  padding-left: 50px;
  color: #666;
}
header .login {
  width: 88px;
  height: 88px;
  line-height: 88px;
  text-align: center;
  color: #fff;
  font-size: 24px;
}
.banner a {
  display: block;
}
.banner a img {
  width: 100%;
  vertical-align: middle;
}
.ads {
  display: flex;
}
.ads a {
  flex: 1;
}
.ads a img {
  width: 100%;
}
nav {
  display: flex;
  flex-wrap: wrap;
  height: 280px;
}
nav a {
  flex: 20%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav a img {
  width: 82px;
  margin: 10px 0;
}
nav a span {
  font-size: 24px;
  color: #666;
}
