body {
  /* 宽度最小值 */
  min-width: 320px;
  /* 最大值 <768px  */
  max-width: 540px;
  margin: 0 auto;
  font-size: 14px;
  color: #666;
  background-color: #ccc;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


/* ---------------------------------------------------header */

header {
  height: 44px;
  /* flex 默认主轴方向 */
  display: flex;
  /* flex-direction: row; */
  background-color: #F6F6F6;
  border-bottom: 1px solid #ccc;
  /* 1.固定定位 */
  position: fixed;
  top: 0;
  /* 相对 屏幕当前 不受body 管理*/
  width: 100%;
  /* 宽度最小值 */
  min-width: 320px;
  /* 最大值 <768px  */
  max-width: 540px;
}

header .search {
  flex: 1;
  background-color: #fff;
  /* align-self: auto; */
  /* auto:父级不设置 align-items；auto值就会变为拉伸 */
  margin: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  line-height: 30px;
  padding-left: 25px;
}

header .search::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 7px;
  width: 13px;
  height: 13px;
  background: url('../imgs/sprite.png') no-repeat -60px -280px;
  background-size: 104px;
}

header .user {
  width: 44px;
  height: 44px;
  /* background-color: red; */
  /* flex布局，列排布 */
  display: flex;
  flex-direction: column;
  /* 侧轴对齐 */
  align-items: center;
}

header .user .img {
  /* 是我们缩小后测量 */
  width: 23px;
  height: 23px;
  background: url('../imgs/sprite.png') no-repeat -59px -194px;
  /* 图片大小，按照缩小后写入 */
  background-size: 104px;
  margin-top: 3px;
  margin-bottom: 4px;
}

header .user span {
  color: #666;
}


/* ---------------------------------------------------------------轮播图 */

.banner {
  margin-top: 45px;
}

.banner a {
  display: block;
}

.banner a img {
  width: 100%;
}


/* ---------------------------------------------------------导航区-1 */

.nav_1 {
  height: 64px;
  display: flex;
  background-color: #fff;
  margin: 3px 5px;
  border-radius: 5px;
}


/* 局部：flex、列排布、侧轴居中对齐 */

.nav_1 a {
  flex: 1;
  /* 局部flex */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_1 a .icon {
  width: 32px;
  height: 32px;
  background: url('../imgs/localnav_bg.png') no-repeat 0 0;
  /* 图片大小，按照缩小后写入 */
  background-size: 32px;
  margin: 5px 0 5px;
}

.nav_1 a span {
  color: #666;
}


/* ---------------------------------------------------------导航区-1 */

.nav_2 {
  height: 128px;
  display: flex;
  background-color: #fff;
  margin: 3px 5px;
  border-radius: 5px;
  /* 换行 */
  flex-wrap: wrap;
}


/* 局部：flex、列排布、侧轴居中对齐 */

.nav_2 a {
  /* flex: 1; */
  flex: 20%;
  /* 局部flex */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_2 a .icon {
  width: 32px;
  height: 32px;
  background: url('../imgs/localnav_bg.png') no-repeat 0 0;
  /* 图片大小，按照缩小后写入 */
  background-size: 32px;
  margin: 5px 0 5px;
}

.nav_2 a span {
  color: #666;
}


/* ------------------------------------------------------------------大导航 */

nav {
  border-radius: 10px;
  overflow: hidden;
}

nav .one {
  height: 88px;
  display: flex;
  /* 默认主轴  */
  background: -webkit-linear-gradient(0deg, red, blue);
}


/* 设置单独第二个 */

nav .one:nth-child(2) {
  margin: 3px 0;
}


/* 局部：flex、列排布、子元素flex:1  */

nav .one .box {
  flex: 1;
  /* background-color: red; */
  /* flex */
  display: flex;
  flex-direction: column;
}

nav .one .box:nth-child(1) a {
  background: url('../imgs/hotel.png') no-repeat;
  background-size: 80%;
  background-position: bottom center;
}


/* 后两个列的大盒子 */

nav .one .box:nth-child(n+2) {
  border-left: 1px solid #fff;
}

nav .one .box a {
  flex: 1;
  /* 在侧轴方向上自由拉伸 */
  /* 文字的相关居中 */
  line-height: 44px;
  text-align: center;
  color: #fff;
}

nav .one .box_tb a:nth-child(1) {
  border-bottom: 1px solid #fff;
}