body {
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
  color: #000;
  background: #f2f2f2;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  height: 2000px;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search_box {
  width: 100%;
  max-width: 540px;
  min-width: 320px;
  height: 44px;
  background-color: #F5F4FF;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  border-bottom: 1px solid #ccc;
}

.search_ipt {
  flex: 1;
  /* 这个真的很奇怪啊，没有设置宽的时候，margin先进行设置 */
  margin: 7px 10px;
  border: 1px solid #ccc;
  height: 26px;
  line-height: 24px;
  color: #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  padding-left: 30px;
  position: relative;
}

.search_ipt::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: url(../images/sprite.png) no-repeat -59px -279px;
  background-size: 104px auto;
}

.user {
  width: 44px;
  height: 44px;
  /* background-color: red;
   */
  text-align: center;
  font-size: 12px;
  color: #2eaae0;
}

.user::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background: url(../images/sprite.png) no-repeat -59px -194px;
  background-size: 104px auto;
  margin: 3px 10.5px -2px;
}


/*轮播 */

.focus {
  padding-top: 44px;
}

.focus img {
  width: 100%;
}


/* 导航 */

.xiao_nav {
  display: flex;
  margin: 3px 4px;
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 10px;
}

.xiao_nav li {
  flex: 1;
}

.xiao_nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.xiao_nav a [class^="local-nav-icon"] {
  width: 32px;
  height: 32px;
  background-color: pink;
  margin-top: 8px;
  background: url(../images/localnav_bg.png) no-repeat 0 0;
  background-size: 32px auto;
}


/* 大导航 */

nav {
  margin: 3px 4px;
  border-radius: 5px;
  overflow: hidden;
}

.hang {
  height: 88px;
  display: flex;
}

.hang:nth-child(2) {
  margin: 2px 0;
}

.hang:nth-child(1) {
  background: -webkit-linear-gradient(left, #FA5A55, #FA994D);
}

.hang:nth-child(2) {
  background: -webkit-linear-gradient(left, #4B90ED, #53BCED);
}

.hang:nth-child(3) {
  background: -webkit-linear-gradient(left, #34C2A9, #6CD559);
}


/* 每个a上面的父级盒子 */

.nav-items {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav-items:nth-child(-n+2) {
  border-right: 1px solid #fff;
}


/* 下面模块的设置 a  */

.nav-items a {
  flex: 1;
  text-align: center;
  line-height: 44px;
  color: #fff;
  font-size: 14px;
  text-shadow: 1px 1px rgba(0, 0, 0, .2);
}

.nav-items a:nth-child(1) {
  border-bottom: 1px solid #fff;
}


/* 第一个儿子下的a */

.nav-items:nth-child(1) a {
  border: 0;
  background: url(../images/hotel.png) no-repeat bottom center;
  background-size: 121px auto;
}


/* 侧边导航栏 */

.subnav-entry {
  margin: 3px 4px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
}

.subnav-entry li {
  flex: 20%;
}

.subnav-entry a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subnav-entry-icon {
  width: 28px;
  height: 28px;
  background-color: pink;
  margin-top: 4px;
  background: url(../images/subnav-bg.png) no-repeat;
  background-size: 28px auto;
}


/* 销售模块 */

.sales-box {
  margin: 4px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.sales-hd {
  position: relative;
  height: 44px;
  border-bottom: 1px solid #ccc;
}

.sales-hd h2 {
  margin: 0;
  padding: 0;
  position: relative;
  text-indent: -999px;
  overflow: hidden;
}

.sales-hd h2::after {
  position: absolute;
  top: 14px;
  left: 8px;
  content: "";
  width: 79px;
  height: 15px;
  background: url(../images/hot.png) no-repeat 0 -20px;
  background-size: 79px auto;
}

.more {
  position: absolute;
  right: 5px;
  top: 8px;
  background: -webkit-linear-gradient(left, #FF506C, #FF6BC6);
  border-radius: 15px;
  padding: 3px 20px 3px 10px;
  color: #fff;
}

.more::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 7px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

.row {
  display: flex;
}

.row a {
  flex: 1;
  border-bottom: 1px solid #eee;
}

.row a:nth-child(1) {
  border-right: 1px solid #eee;
}

.row a img {
  width: 100%;
}


/* 测试1 */

.img {
  display: flex;
  margin: 3px 4px;
  border-radius: 5px;
  overflow: hidden;
}

.img a {
  flex: 1;
}

.img a:nth-child(1) {
  border-right: 1px solid #ccc;
}

.img a img {
  width: 100%;
}


/* 测试2 */

.test_nav {
  margin: 3px 4px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
}

.test_nav li {
  flex: 20%;
}

.test_nav li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test_nav .demo_img {
  width: 28px;
  height: 28px;
  background-color: pink;
  margin-top: 4px;
  background: url(../images/subnav-bg.png) no-repeat;
  background-size: 28px auto;
}


/* demo3 */

.test_hang {
  margin: 3px 4px;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
}

.test_hang div {
  flex: 1;
  height: 80px;
  background-color: #333;
  display: flex;
  flex-direction: column;
}

.test_hang div:nth-child(-n+2) {
  border-right: 1px solid #fff;
}

.test_hang div a {
  flex: 1;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
}

.test_hang div a:nth-child(1) {
  border-bottom: 1px solid #fff;
}

.test_hang div:nth-child(1) a {
  border: 0;
}