.header {
  width: 200px;
  height: 200px;
  background-color: pink;
}
.header > a {
  color: red;
}
.header > a:hover {
  color: blue;
}
.nav .logo:nth-child(1) {
  color: green;
}
.nav::before {
  content: "";
}
